.square {
    width: 100%;
    padding-bottom: 50%;
    height: 0;
    background: url("https://s1.ax1x.com/2020/06/06/t6zS2T.jpg");
    background-size: 100% auto;
    padding-left:35%;
    padding-top: 5%;
}
.s-title {
    font-size: 60px; font-weight: 700;
}
.l-p4{
    padding-left: 4em;
}
.b-m{
    margin-bottom: 3em;
}
.l-p {
    padding-left: 10px;
}
.f-s{
    font-size: 22px;
}
.r-m {
    margin-right: 10px;
}




.second-part{
    height: 400px;
    position: relative;
}
.write {
    height: 100%;
    width: 55%;
    padding-top:5%;
    padding-left: 7%;
    background-color:rgba(253, 162, 103, 1);
    float: left;
}
.message {
    height: 100%;
    width: 45%;
    padding-top:5%;
    padding-left: 7%;
    background-color:rgba(249, 184, 135, 1);
    float: left;
}
.push {
    height: 100%;
    width: 45%;
    padding-top:5%;
    padding-left: 7%;
    background-color: rgba(168, 1, 255, 1);;
    float: left;
}
.img {
    width: 55%;
    height: 100%;
    background: url("https://s1.ax1x.com/2020/06/06/t6zZPx.jpg");
    background-size: 100% 100%;
    float: left;
}

@media screen and  (max-width:600px){
    .s-title{
        font-size: 25px;
    
    }
    .b-m{
        margin-bottom: 1em;
    }
    .f-s{
        font-size: 16px;
        color: darkturquoise;
    }
    .second-part{
        height: 200px;
    }
    .write{
        width: 100%;
    }
    .message{
        width: 100%;
    }
    .push{
        width: 100%;
    }
    .img{
        width: 100%;
    }
    
    }