
<div class="square g-grey">
  <div class="form-inline">
    <p class="s-title">广场社区</p>
    <div class="l-p4">
      <button mat-stroked-button class="g-white b-m" [routerLink]="['/square/community']">Get Started</button>
      <p class="f-s">在这里，倾诉你的心声</p>
    </div>
  </div>
</div>


<div class="second-part g-white">
  <div class="write">
    <p class="s-title">写信</p>
    <p style="font-size: 16px; margin-bottom: 28px;">在这里，抒发你的情感，书写属于自己的秘密</p>
    <button mat-stroked-button class="g-white" style="margin-bottom: 3em;" [routerLink]="['/square/letter']">Get Started</button>
  </div>
  <div class="message">
    <p class="s-title">未读消息提醒（0）</p>
    <p style="font-size: 16px; margin-bottom: 28px;">小可爱，快来看新的来信</p>
    <button mat-stroked-button class="g-white" style="margin-bottom: 3em; z-index: 10;" [routerLink]="['/square/person/myreply']">Get Started</button>
  </div>
</div>


<div class="second-part g-white">
  <div class="push">
    <p class="s-title">心理知识推送</p>
    <p style="font-size: 16px; margin-bottom: 28px;">在这里，探索心理知识的奥秘</p>
    <button mat-stroked-button class="g-white" style="margin-bottom: 3em;" [routerLink]="['/square/push']">Get Started</button>
  </div>
  <div class="img">
  </div>
</div>
