<div class="profile">
  <div id="left-menu">
    <button mat-icon-button class="g-blue" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>个人资料</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="collect">
        <span>我的收藏</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="letter">
        <span>我的信件</span>
      </button>
      <button mat-menu-item [routerLink]="['myreply']">
        <span>我的回信</span>
      </button>
      <button mat-menu-item>
        <span>垃圾箱</span>
      </button>
    </mat-menu>
    <mat-menu #collect="matMenu">
      <button mat-menu-item [routerLink]="['collect','letter']">信件</button>
      <button mat-menu-item [routerLink]="['collect','push']">心理知识</button>
    </mat-menu>
    <mat-menu #letter="matMenu">
      <button mat-menu-item [routerLink]="['myletter','public']">公开信件</button>
      <button mat-menu-item [routerLink]="['myletter','trash']">隐私信件</button>
      <button mat-menu-item [routerLink]="['myletter','draft']">草稿</button>
    </mat-menu>
  </div>


  <aside id="left">
    <ul>
      <li class="" [routerLink]="['personalData']"><i class="material-icons">home</i>个人资料</li>
      <li class="" (click)='showCollect=!showCollect'>我的收藏
        <i class="material-icons">email</i>
        <i  class="arrow" [ngClass]="{'up': showCollect, 'down': !showCollect}"></i>
      </li>
      <li *ngIf='showCollect'>
        <ul style="padding-left: 20px;">
          <li class="" [routerLink]="['collect','letter']">信件</li>
          <li class="" [routerLink]="['collect','push']">心理知识</li>
          <!-- <li class="" >心理测试</li> -->
        </ul>
      </li>
      <li class="" (click)='showMailbox=!showMailbox'><i class="material-icons">&#xe89b;</i>我的信箱
        <i class="arrow" [ngClass]="{'up': showMailbox, 'down': !showMailbox}"></i>
      </li>
      <li *ngIf='showMailbox'>
        <ul style="padding-left: 20px;">
          <li class="" (click)='showMail=!showMail'>我的信件
            <i class="arrow" [ngClass]="{'up': showMail, 'down': !showMail}"></i>
          </li>
          <li *ngIf='showMail'>
            <ul style="padding-left: 20px;">
              <li class="" [routerLink]="['myletter','public']">公开信件</li>
              <li class="" [routerLink]="['myletter','privacy']">隐私信件</li>
              <li class="" [routerLink]="['myletter','draft']">草稿</li>
            </ul>
          </li>
          <li class="" [routerLink]="['myreply']">我的回信</li>
          <li class="" [routerLink]="['myletter','trash']">垃圾箱</li>
        </ul>
      </li>
  
    </ul>
  </aside>
  <section id="right">
    <router-outlet></router-outlet>
  </section>
</div>

