<div style="margin-bottom:10px" *ngFor="let item of tablePageList ;let i=index">
<app-letterItem [Obj]=item [flag]="isCollect" *ngIf="!isPush" [isTrash]="isTrash">

</app-letterItem>
<app-pushItem [item]=item *ngIf="isPush" (fromChild)='fromChildFunc($event)'>

</app-pushItem>
</div>
<div class="pagination">
  <custom-pagination *ngIf="tablePageList.length"
                        [fastTurnBtn]="false"
                        [totalPage]="pageNo"
                        [maxSize]="pageSize"
                        [(ngModel)]="curPage"
                        (changePage)="changePage($event)">
  </custom-pagination>
</div>
<div *ngIf="tablePageList.length==0" class="nothing">
nothing......
</div>
