<div  class="nav">
<div class="name">
  <a mat-button class="name" [routerLink]="['/square']">解忧杂货铺</a>
</div>
  <div style="display: inline-block;">
<a mat-button routerLink="person">个人中心</a>
<a mat-button routerLink="community">广场社区</a>
<a mat-button routerLink="push">心理知识推送</a>
<a mat-button routerLink="person/myreply">未读消息提醒</a>
<a mat-button [routerLink]="['letter','']">写信</a>
<a mat-button routerLink="help">帮助</a>
<button *ngIf='msgService.loginFlag' mat-raised-button color="primary" class="r-m" (click)='logout()'>注销</button>
<button *ngIf='!msgService.loginFlag' mat-raised-button color="primary" class="r-m" [routerLink]="['/login']" >登录</button>
  </div>
</div>

<router-outlet></router-outlet>

