<!-- <div class="container">
  <div class="row">
    <div>解忧杂货铺</div>
    <ul class="nav nav-pills">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Tutorials</a></li>
        <li><a href="#">Practice Editor </a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <button class="btn">注销</button>
  </div>
</div> -->
<div class="form-inline" style="justify-content: space-between;">
<p class="l-p" style="font-size: 25px; line-height: 25px; margin: 0px; font-weight:700">解忧杂货铺</p>
<div class="form-inline">
<mat-tab-group>
  <mat-tab label="个人中心"></mat-tab>
  <mat-tab label="广场社区"></mat-tab>
  <mat-tab label="心理知识推送"></mat-tab>
  <mat-tab label="未读消息提醒"></mat-tab>
  <mat-tab label="写信"></mat-tab>
  <mat-tab label="帮助"></mat-tab>
</mat-tab-group>
<button mat-raised-button color="primary" class="r-m">注销</button>
</div>
</div>
<div class="square g-grey">
  <div class="form-inline">
    <p style="font-size: 60px; font-weight: 700;">广场社区</p>
    <div style="padding-left: 4em;">
      <button mat-stroked-button class="g-white" style="margin-bottom: 3em;">Get Started</button>
      <p style="font-size: 22px;">在这里，倾诉你的心声</p>
    </div>
  </div>
</div>
<div class="second-part form-inline g-white">
  <div class="write">
    <p style="font-size: 4em;font-weight: 700;">写信</p>
    <p style="font-size: 16px; margin-bottom: 28px;">在这里，抒发你的情感，书写属于自己的秘密</p>
    <button mat-stroked-button class="g-white" style="margin-bottom: 3em;">Get Started</button>
  </div>
  <div class="message">
    <p style="font-size: 4em;font-weight: 700;">未读消息提醒（0）</p>
    <p style="font-size: 16px; margin-bottom: 28px;">小可爱，快来看新的来信</p>
    <button mat-stroked-button class="g-white" style="margin-bottom: 3em;">Get Started</button>
  </div>
</div>
<div class="second-part form-inline g-white">
  <div class="push">
    <p style="font-size: 4em;font-weight: 700;">心理知识推送</p>
    <p style="font-size: 16px; margin-bottom: 28px;">在这里，探索心理知识的奥秘</p>
    <button mat-stroked-button class="g-white" style="margin-bottom: 3em;">Get Started</button>
  </div>
  <div class="img">
  </div>
</div>
<!-- https://s1.ax1x.com/2020/06/06/t6zZPx.jpg -->