<div class="profile">
  <aside id="left" class="xleft">
    <ul>
    
      
      <li class="" (click)="refreshTheme('抑郁症')">抑郁症</li>
      <li class="" (click)="refreshTheme('焦虑症')">焦虑症</li>
      <li class="" (click)="refreshTheme('恋爱心理')">恋爱心理</li>
      <li class="" (click)="refreshTheme('亲子关系')">亲子关系</li>
      <li (click)="refreshTheme('人际交往障碍')">人际交往障碍</li>
      <li></li>
  
    </ul>
  </aside>
  <section id="right" class="xright">
    <div *ngFor="let item of tablePageList;let i=index">
    <div class="push">
     <div class="yleft">
      <img style=" width: 100%;
      height: 100%;" [src]="item.url" alt="Photo of a Shiba Inu">
     </div>
     <div class="yright">
      <div class="title">{{ item.title }}</div>
      <div class="con">{{ item.context }}

      </div>
      <div class="tim">{{ item.date }}
        <button mat-icon-button disabled style="float: right;">
          <!-- <mat-icon *ngIf="!item.collect_flag" aria-label="Example icon-button with a heart icon" (click)='collect(item.letterID,i)'>favorite_border</mat-icon> -->
          <mat-icon aria-label="Example icon-button with a heart icon" style="color: pink;">favorite</mat-icon>
        </button>
      </div>
     </div>
    </div>
   </div>
   
   <div class="pagination">
    <custom-pagination *ngIf="tablePageList.length"
                          [fastTurnBtn]="false"
                          [totalPage]="pageNo"
                          [maxSize]="pageSize"
                          [(ngModel)]="curPage"
                          (changePage)="changePage($event)">
    </custom-pagination>
  </div>
    <!-- <div class="">

    </div>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card> -->
  </section>
</div>

