<div class="unread-Messages">
  <aside id="left">
    <ul>
      <li class=""><i class="material-icons">home</i>个人资料</li>
      <li class="" (click)='showCollect=!showCollect'>我的收藏
        <i  class="arrow" [ngClass]="{'up': showCollect, 'down': !showCollect}"></i>
      </li>
      <li *ngIf='showCollect'>
        <ul style="padding-left: 20px;">
          <li class="" >信件</li>
          <li class="" >心理知识</li>
          <li class="" >心理测试</li>
        </ul>
      </li>
      <li class="" (click)='showMailbox=!showMailbox'>我的信箱
        <i class="arrow" [ngClass]="{'up': showMailbox, 'down': !showMailbox}"></i>
      </li>
      <li *ngIf='showMailbox'>
        <ul style="padding-left: 20px;">
          <li class="" (click)='showMail=!showMail'>我的信件
            <i class="arrow" [ngClass]="{'up': showMail, 'down': !showMail}"></i>
          </li>
          <li *ngIf='showMail'>
            <ul style="padding-left: 20px;">
              <li class="">公开信件</li>
              <li class="">隐私信件</li>
              <li class="">草稿</li>
            </ul>
          </li>
          <li class="" >我的回信</li>
          <li class="" >垃圾箱</li>
        </ul>
      </li>
  
    </ul>
  </aside>
  <section id="right">
    <div style="margin-bottom:10px" *ngFor="let Obj of tablePageList ;let i=index">

      <div class="item">
        <div>
          <li class="cr"  *ngIf="!Obj.read_flag"><span>未读</span></li>
          <li class="cg"  *ngIf="Obj.read_flag"><span>已读</span></li>
        </div>
        <div class="context" (click)='clickContext(myModal,i)'>
          {{
            Obj.reply_context
          }}
        </div>
        <div class="r-bottom">
          <a (click)="report(Obj.reply_id)">举报</a>
          <div class="line"></div>
        <button mat-icon-button disabled class="bp">
          <mat-icon *ngIf="!Obj.collect_flag" aria-label="Example icon-button with a heart icon" (click)='collect(Obj.letterID)'>favorite_border</mat-icon>
          <mat-icon *ngIf="Obj.collect_flag" aria-label="Example icon-button with a heart icon" style="color: pink;" (click)='deleteCollect(Obj.letterID)'>favorite</mat-icon>
        </button>
      </div>
      </div>

    </div>
    <div class="pagination">
      <custom-pagination *ngIf="tablePageList.length"
                            [fastTurnBtn]="false"
                            [totalPage]="pageNo"
                            [maxSize]="pageSize"
                            [(ngModel)]="curPage"
                            (changePage)="changePage($event)">
      </custom-pagination>
    </div>
  </section>
</div>


<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h4 class="modal-title">{{ showReply.letter_topic }}</h4> -->
                <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
              <p style="white-space: pre-wrap;
              word-wrap: break-word;">
                {{ showReply.reply_context }}
              </p>
              <div style="float: right;">
                <!-- <button type="button" class="btn btn-outline-secondary">确定</button> -->
                <button mat-icon-button disabled style="justify-content: flex-end;">
                  <mat-icon *ngIf="!showReply.collect_flag" aria-label="Example icon-button with a heart icon" (click)='test()'>favorite_border</mat-icon>
        <mat-icon *ngIf="showReply.collect_flag" aria-label="Example icon-button with a heart icon" (click)='test()'>favorite</mat-icon>
                </button>
              </div>
            </div>

        </div>
    </div>
</div>

