/* https://s1.ax1x.com/2020/07/06/Ui6ve1.jpg */
.letter {
    width: 100%;
    /* padding-bottom: 50%; */
    height: 100%;
    background: url("https://s1.ax1x.com/2020/07/08/UZvv4A.jpg");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    padding: 0px 60px;
}
input {
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
}
.labelg{
    text-align: center;
    line-height: 36px;
    width: 64px;
    margin: 0 1px;
    color: white;
    background-color: rgba(0, 179, 138, 1);
    border-radius: 3px;
}
.r-m {
    float: right;
    margin-top: 20px;

}
.form-control {
    padding: 20px 0;
    margin-top: 80px;
    /* text-align: center; */
    min-height: 400px;
    background: rgba(255, 255, 255, 0.5);
}
#left {
    flex: 0 0 200px; /* 左侧固定200px */
    margin: 50px 10px;
    height:90%;
    background:rgba(255, 255, 255, 0.5);;
  }
  #right {
    /* 此处解释下
    flex: 1 1 0%
    0%表示此处宽度是按照自身内容宽度来，此处自身内容宽度为0，但是分配剩余的空间，所以可以自适应变化
     */
    flex: 1; /* 随父级变化 */
    height: 90%;
    margin: 50px 30px;
    background:rgba(255, 255, 255, 0.5);;
  }

.mask-box {
    margin-top: 6%;
    padding: 40px 60px;
    width: 66%;
    text-align: center;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.5);

}
mat-grid-tile {
    background: lightblue; 
}