@import '~swiper/dist/css/swiper.min.css';
.container {
    background-color:rgba(61, 189, 182, 1) ;
}
.swiper-container {
    /* padding-tip: 50px; */
    width: 1200px;
    height: 600px;
    /* padding-left:50%; */
    padding: 20px;
} 
.swiper-slide img {

    width: 100%;
    height:1 
}
.col-md-4{
    margin: 8px 0px;
}
.cp {
    padding: 0px 15px;
}