<div class="letter">
  <div class="back">
  <button mat-raised-button color="primary" class="r-m" (click)="goback()">返回</button> 
  </div>
  <!-- <input type="text" placeholder="请输入标题" [(ngModel)]="letter_topic"> -->
  <div class="mask-box">
    <div>
      {{
        letter.context
      }}
    </div>
    <button mat-raised-button style="float: right; box-shadow: rgba(128, 128, 128, 1) solid 1px;" [routerLink]="['/reply',letter.letterID]">回信</button>
  </div>


  <div class="return">
    <div *ngFor="let obj of tablePageList;let i = index;">
     <div [ngClass]="{'return2': i%2==0 , 'return1': i%2==1 }">
      <svg width="70px" height="70px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="rgba(153, 153, 153, 1)">
        <path fill="none" d="M0 0h48v48H0z"></path>
        <path d="M40 8H8c-2.21 0-3.98 1.79-3.98 4L4 36c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4V12c0-2.21-1.79-4-4-4zm0 28H8V16l16 10 16-10v20zM24 22L8 12h32L24 22z"></path>
      </svg>
    <div class="context" (click)='clickContext(myModal,i)'>{{ obj.reply_context }}</div>
    <div class="heart"><button mat-icon-button disabled>
      <mat-icon *ngIf="!obj.collect_flag" aria-label="Example icon-button with a heart icon" (click)='test2()'>favorite_border</mat-icon>
      <mat-icon *ngIf="obj.collect_flag" aria-label="Example icon-button with a heart icon" style="color: pink;" (click)='deleteCollect(obj.letterID,i)'>favorite</mat-icon>
    </button>
    </div>

    </div>
  </div>

  </div>


  <div class="pagination">
    <custom-pagination *ngIf="tablePageList.length"
                          [fastTurnBtn]="false"
                          [totalPage]="pageNo"
                          [maxSize]="pageSize"
                          [(ngModel)]="curPage"
                          (changePage)="changePage($event)">
    </custom-pagination>
  </div>
  

</div>

<!-- <button class="btn btn-outline-primary" (click)="myModal.show()">模态框</button> -->
<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h4 class="modal-title">{{ showReply.letter_topic }}</h4> -->
                <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
              <p style="white-space: pre-wrap;
              word-wrap: break-word;">
                {{ showReply.reply_context }}
              </p>
              <div style="float: right;">
                <!-- <button type="button" class="btn btn-outline-secondary">确定</button> -->
                <button mat-icon-button disabled style="justify-content: flex-end;">
                  <mat-icon *ngIf="!showReply.collect_flag" aria-label="Example icon-button with a heart icon" (click)='test()'>favorite_border</mat-icon>
        <mat-icon *ngIf="showReply.collect_flag" aria-label="Example icon-button with a heart icon" (click)='test()'>favorite</mat-icon>
                </button>
              </div>
            </div>

        </div>
    </div>
</div>
