<div class="item">
    <div class="context" [routerLink]="['/viewletter',Obj.letter_id]">
      {{
        Obj.context
      }}
    </div>
    <div class="bottom" *ngIf="!flag">
      <a href="">删除</a>
      <div class="line"></div>
      <a *ngIf="!isTrash" href="">修改</a>
      <a *ngIf="isTrash" href="">还原</a>
    </div>
    <div class="bottom" *ngIf="flag">
      <a (click)="report(Obj.letter_id)">举报</a>
      <div class="line"></div>
    <button mat-icon-button disabled>
      <mat-icon *ngIf="!Obj.collect_flag" aria-label="Example icon-button with a heart icon" (click)='collect(Obj.letterID)'>favorite_border</mat-icon>
      <mat-icon *ngIf="Obj.collect_flag" aria-label="Example icon-button with a heart icon" style="color: pink;" (click)='deleteCollect(Obj.letterID)'>favorite</mat-icon>
    </button>
  </div>
</div>
