<div class="item">
    <div class="context" [routerLink]="['/viewletter',Obj.letter_id]">
      {{
        Obj.context
      }}
    </div>
    <div class="bottom" *ngIf="!flag">
      <button  mat-button color="primary" (click)="delete()">删除</button>
      <div class="line"></div>
      <button *ngIf="!isTrash"  color="primary" mat-button [routerLink]="['/square/letter',this.Obj.letter_id]">修改</button>
      <!-- <a *ngIf="isTrash" href="">还原</a> -->
      <button  *ngIf="isTrash" mat-button color="primary" (click)="recover()">还原</button>
    </div> 
    <div class="bottom" *ngIf="flag">
      <button (click)="report(Obj.letter_id)" mat-button color="primary">举报</button>
      <div class="line"></div>
    <button mat-icon-button disabled>
      <mat-icon *ngIf="!Obj.collect_flag" aria-label="Example icon-button with a heart icon" (click)='collect(Obj.letterID)'>favorite_border</mat-icon>
      <mat-icon *ngIf="Obj.collect_flag" aria-label="Example icon-button with a heart icon" style="color: pink;" (click)='deleteCollect(Obj.letterID)'>favorite</mat-icon>
    </button>
  </div>
</div>
