/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
.g-green {
    color: rgba(0, 179, 138, 1);
}
.g-white {
    color: white;
}
.g-grey {
    color:rgba(166, 166, 166, 1)
}
.m-content {
    max-width: 100%;
    min-height: 400px;
    height: auto;
    background: url("https://s1.ax1x.com/2020/07/08/UZvv4A.jpg");
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-color: none;
    border: none;
}
.m-dialog {
    opacity: 1;
    background-color: none;
}